<!-- 모달 내용 -->
<div class="modal fade" id="addCurencyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header alert alert-success">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">거래 내역 입력</h4>
      </div>
      <div class="modal-body">

        <!-- 첫째 줄 -->
        <div class="row">
          <!-- 날짜 입력 -->
          <div class="col-md-6">
            <p>
              <div class="form-group">
              <label class="control-label text-success">거래 날짜</label>
              <input type="text" class="form-control input-sm" placeholder="날짜를 입력하세요" id="datepicker" size="30">
              </div>
            </p>
          </div>
          <!-- 날짜 입력 -->
          <div class="col-md-6">
            <p>
              <div class="form-group">
                <label class="control-label text-success">카테고리</label>
                <input id="category" name="category" type="text" class="form-control input-sm" placeholder="카테고리를 입력하세요">
              </div>
            </p>
          </div>
        </div>
        <!-- 첫째 줄 -->

        <!-- 둘째 줄 -->
        <div class="row">
          <div class="col-md-6">
            <p>
              <div class="form-group">
                <label class="control-label text-success">냥 주는 이</label>
                <input id="sender" name="sender" type="text" class="form-control input-sm" placeholder="이름을 입력하세요">
              </div>
            </p>
          </div>
          <div class="col-md-6">
            <p>
              <div class="form-group">
                <label class="control-label text-success">냥 받는 이</label>
                <input id="receiver" name="receiver" type="text" class="form-control input-sm" placeholder="이름을 입력하세요">
              </div>
            </p>
          </div>

        </div>
        <!-- 둘째 줄 -->

        <!-- 거래 내용 -->
        <p>
          <div class="form-group">
            <label class="control-label text-success">거래 내용</label>
            <input type="text" class="form-control input-sm" placeholder="내용을 입력하세요">
          </div>
        </p>
        <!-- 거래 내용 -->

        <!-- 현금 입력폼 -->
        <p>
          <label class="control-label text-success">거래한 현금</label>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="금액을 입력하세요">
            <span class="input-group-addon">원</span>
          </div>
        </p>
        <!-- 현금 입력폼 -->

        <!-- 노냥 입력폼 -->
        <p>
          <label class="control-label text-success">거래한 노냥</label>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="금액을 입력하세요">
            <span class="input-group-addon">냥</span>
          </div>
        </p>
        <!-- 노냥 입력폼 -->

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">그냥 닫기</button>
        <input class="btn btn-success" type="submit" value="입력하기">
      </div>
    </div>
  </div>
</div>
<!-- 모달 내용 -->
<style>
  ul.ui-autocomplete {
    z-index: 1100;
  }
</style>
<script>
$(document).ready(function() {
  $.ajax({
    type: 'GET',
    url: '/users/all',
    success: function (data, status) {
      var availableUsers = [];

      for ( var i in data.data ) {
        availableUsers[i] = data.data[i].name;
      }

      $('#sender').autocomplete({
        source: availableUsers
      });
      $('#receiver').autocomplete({
        source: availableUsers
      });
    },
    error: function (error) {
      alert('users: ' + error.statusText);
      return false;
    }
  });

  $.ajax({
    type: 'GET',
    url: '/category/all',
    success: function (data, status) {
      var availableCategories = [];

      for ( var i in data.data ) {
        availableCategories[i] = data.data[i].name;
      }

      $('#category').autocomplete({
        source: availableCategories
      });
    },
    error: function (error) {
      alert('categories: ' + error.statusText);
      return false;
    }
  });
});

</script>