{% extends 'layout.html' %}

{% block title %}My Page{% endblock %}

{% block head %}
  {% parent %}
{% endblock %}

{% block content %}
<section>
  <style>
    #site_logo {
      padding: 30px 30px 30px 30px;
    }
  </style>

  <div class="container">

    <!-- 사이트 타이틀 -->
    <div class="row">
      <div class="col-lg-12">
        <div class="page-header">
          <h1 class="text-center"> 노냥 <small>노닥대안화폐</small></h1>
        </div>
      </div>
    </div>
    <!-- 사이트 타이틀 -->

    <div class="row">

      <!-- 로그인 및 프로필 섹션 -->
      <div class="col-lg-3">

        <!-- 사이트 로고 -->
        <img src="https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-prn1/553114_10200774799633662_560161521_n.jpg" alt="nodac_logo" class="img-circle img-responsive" id="site_logo">
        <!-- 사이트 로고 -->

        <!-- 로그인 폼 -->
        <form role="form">
          <div class="form-group">
            <label for="exampleInputEmail1">이메일 주소</label>
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="이메일 주소를 입력해주세요">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">패스워드</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="패스워드 입력해주세요">
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox"> 기억하기
            </label>
          </div>
          <button type="submit" class="btn btn-default btn-block">로그인</button>
          <button type="submit" class="btn btn-default btn-block">가입하기</button>
        </form>
        <!-- 로그인 폼 -->
      </div>
      <!-- 로그인 및 프로필 섹션 -->

      <!-- 본문 섹션 -->
      <div class="col-lg-7">

        <!-- 안내문 -->
        <div class="alert alert-warning">아래의 폼을 다 채워주신 후 제출하시면 대기 목록에 거래 내역을 추가할 수 있습니다.</div>
        <!-- 안내문 -->

        <!-- 노냥 내역 입력폼 -->
        <div class="row">

          <div class="col-xs-2">
            <div class="input-group input-group-sm">
              <select class="form-control input-sm" placeholder="월">
                <option>1</option><option>2</option><option>3</option><option>4</option><option>5</option><option>6</option><option>7</option><option>8</option><option>9</option><option>10</option><option>11</option><option>12</option>
              </select>
              <span class="input-group-addon">월</span>
            </div>
          </div>
          <div class="col-xs-2">
            <div class="input-group input-group-sm">
              <select class="form-control input-sm" placeholder="일">
                <option>1</option><option>2</option><option>3</option><option>4</option><option>5</option><option>6</option><option>7</option><option>8</option><option>9</option><option>10</option><option>11</option><option>12</option><option>13</option><option>14</option><option>15</option><option>16</option><option>17</option><option>18</option><option>19</option><option>20</option><option>21</option><option>22</option><option>23</option><option>24</option><option>25</option><option>26</option><option>27</option><option>28</option><option>29</option><option>30</option><option>31</option>
              </select>
              <span class="input-group-addon">일</span>
            </div>
          </div>
          <div class="col-xs-2">
            <input type="text" class="form-control input-sm" placeholder="냥 주는 이">
          </div>
          <div class="col-xs-2">
            <input type="text" class="form-control input-sm" placeholder="냥 받는 이">
          </div>
          <div class="col-xs-2">
            <input type="text" class="form-control input-sm" placeholder="카테고리">
          </div>
          <div class="col-xs-2">
            <input type="text" class="form-control input-sm" placeholder="내용">
          </div>
        </div>
        <!-- 두번째 줄 라벨 -->
        <!-- <div class="row"> -->
          <!-- <div class="col-xs-12"> -->

          <!-- </div> -->
        <!-- </div> -->
        <!-- 두번째 줄 라벨 -->

        <!-- 두번째 줄 입력폼 -->
        <div class="row">
          <div class="col-xs-6">
            <div class="input-group input-group-sm">
              <input type="text" class="form-control" placeholder="현금">
              <span class="input-group-addon">원</span>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="input-group input-group-sm">
              <input type="text" class="form-control" placeholder="노냥">
              <span class="input-group-addon">냥</span>
            </div>
          </div>
        </div>
        <!-- 두번째 줄 입력폼 -->
        <div class="row">
          <div class="col-xs-12">
            <input class="btn btn-default btn-sm btn-block" type="submit" value="제출">
          </div>
        </div>
        <!-- 노냥 내역 입력폼 -->


        <!-- 네비게이션 패널 -->
        <ul class="nav nav-tabs" id="currency_flow_chart">
          <li><a href="#public" data-toggle="tab">전체 교환 내역</a></li>
          <li><a href="#personal" data-toggle="tab">개인 교환 내역</a></li>
          <li><a href="#waiting" data-toggle="tab">대기 교환 내역</a></li>
        </ul>
        <!-- 네비게이션 패널 -->

        <!-- 패널 내용 -->
        <div class="tab-content">
          <!-- 전체 거래 내역 -->
          <div class="tab-pane fade in active" id="public">

            <!-- 전체 거래 그래표 내용 -->
            <div class="table-responsive">
              <table class="table table-striped table-hover table-condensed text-center">
                <thead>
                  <tr class="success">
                    <td>날짜</td><td>냥 주는 이</td><td>냥 받는 이</td><td>카테고리</td><td>내용</td><td>현금</td><td>냥</td>
                  </tr>
                </thead>
                <tbody>
                  <tr><td>12월 18일</td><td>강수명</td><td>배수현</td><td>노닥밥상</td><td>굴떡국, 굴전</td><td></td><td>2,000</td></tr>
                  <tr><td>12월 18일</td><td>김석준</td><td>배수현</td><td>노닥밥상</td><td>굴떡국, 굴전</td><td></td><td>2,500</td></tr>
                  <tr><td>12월 18일</td><td>박영희</td><td>배수현</td><td>노닥밥상</td><td>굴떡국, 굴전</td><td></td><td>2,000</td></tr>
                  <tr><td>12월 18일</td><td>이건임</td><td>배수현</td><td>노닥밥상</td><td>굴떡국, 굴전</td><td></td><td>1,500</td></tr>
                  <tr><td>12월 18일</td><td>이미영</td><td>배수현</td><td>노닥밥상</td><td>굴떡국, 굴전</td><td></td><td>2,000</td></tr>
                  <tr><td>12월 10일</td><td>이건임</td><td>강수명</td><td>p2p</td><td>품위 유지</td><td></td><td>500</td></tr>
                  <tr><td>12월 10일</td><td>이건임</td><td>박영희</td><td>p2p</td><td>립밤 발림</td><td></td><td>100</td></tr>
                  <tr><td>12월 10일</td><td>이건임</td><td>오미선</td><td>p2p</td><td>립밤 발림</td><td></td><td>100</td></tr>
                </tbody>
              </table>
            </div>
            <!-- 전체 거래 그래표 내용 -->

            <!-- 차트 페이지 넘기기 -->
            <ul class="pager">
              <li class="previous"><a href="#">&larr; 최근 내역</a></li>
              <li class="next"><a href="#">이전 내역 &rarr;</a></li>
            </ul>
            <!-- 차트 페이지 넘기기 -->

          </div>
          <!-- 전체 거래 내역 -->
          <div class="tab-pane fade" id="personal">

            <!-- 개인 거래그래표 내용 -->
            <div class="table-responsive">
              <table class="table table-striped table-hover table-condensed text-center">
                <thead>
                  <tr class="success">
                    <td>이름</td><td>도움 받고 노냥 지출</td><td>도움 주고 노냥 획득</td><td>거래 횟수</td><td>현금</td><td>남은 노냥</td>
                  </tr>
                </thead>
                <tbody>
                  <tr><td>강수명</td><td>8,400</td><td>6,800</td><td>12</td><td></td><td>-1,600</td></tr>
                  <tr><td>김석준</td><td>7,500</td><td>200</td><td>3</td><td></td><td>-7,300</td></tr>
                  <tr><td>김성수</td><td>1,500</td><td>14,500</td><td>6</td><td></td><td>13,000</td></tr>
                  <tr><td>박영희</td><td>4,500</td><td>1,400</td><td>4</td><td></td><td>-3,100</td></tr>
                  <tr><td>배수현</td><td>0</td><td>10,000</td><td>5</td><td></td><td>10,000</td></tr>
                  <tr><td>오미선</td><td>9,600</td><td>5,900</td><td>15</td><td></td><td>-3,700</td></tr>
                  <tr><td>이건임</td><td>3,500</td><td>1,500</td><td>6</td><td></td><td>-2,000</td></tr>
                  <tr><td>이미영</td><td>11,200</td><td>5,100</td><td>10</td><td></td><td>-6,100</td></tr>
                </tbody>
              </table>
            </div>
            <!-- 개인 거래그래표 내용 -->

            <!-- 차트 페이지 넘기기 -->
            <ul class="pager">
              <li class="previous"><a href="#">&larr; 최근 내역</a></li>
              <li class="next"><a href="#">이전 내역 &rarr;</a></li>
            </ul>
            <!-- 차트 페이지 넘기기 -->

          </div>
          <div class="tab-pane fade" id="waiting">

            <!-- 대기 거래 그래표 내용 -->
            <div class="table-responsive">
              <table class="table table-striped table-hover table-condensed text-center">
                <thead>
                  <tr class="success">
                    <td>날짜</td><td>냥 주는 이</td><td>냥 받는 이</td><td>카테고리</td><td>내용</td><td>현금</td><td>냥</td><td>확인</td>
                  </tr>
                </thead>
                <tbody>
                  <tr><td>12월 18일</td><td>강수명</td><td>배수현</td><td>노닥밥상</td><td>굴떡국, 굴전</td><td></td><td>2,000</td><td><input class="btn btn-xs btn-warning" type="submit" value="확인"></td></tr>
                  <tr><td>12월 18일</td><td>김석준</td><td>배수현</td><td>노닥밥상</td><td>굴떡국, 굴전</td><td></td><td>2,500</td><td><input class="btn btn-xs btn-warning" type="submit" value="확인"></td></tr>
                  <tr><td>12월 18일</td><td>박영희</td><td>배수현</td><td>노닥밥상</td><td>굴떡국, 굴전</td><td></td><td>2,000</td><td><input class="btn btn-xs btn-warning" type="submit" value="확인"></td></tr>
                  <tr><td>12월 18일</td><td>이건임</td><td>배수현</td><td>노닥밥상</td><td>굴떡국, 굴전</td><td></td><td>1,500</td><td><input class="btn btn-xs btn-warning" type="submit" value="확인"></td></tr>
                  <tr><td>12월 18일</td><td>이미영</td><td>배수현</td><td>노닥밥상</td><td>굴떡국, 굴전</td><td></td><td>2,000</td><td><input class="btn btn-xs btn-warning" type="submit" value="확인"></td></tr>
                  <tr><td>12월 10일</td><td>이건임</td><td>강수명</td><td>p2p</td><td>품위 유지</td><td></td><td>500</td><td><input class="btn btn-xs btn-warning" type="submit" value="확인"></td></tr>
                  <tr><td>12월 10일</td><td>이건임</td><td>박영희</td><td>p2p</td><td>립밤 발림</td><td></td><td>100</td><td><input class="btn btn-xs btn-warning" type="submit" value="확인"></td></tr>
                  <tr><td>12월 10일</td><td>이건임</td><td>오미선</td><td>p2p</td><td>립밤 발림</td><td></td><td>100</td><td><input class="btn btn-xs btn-warning" type="submit" value="확인"></td></tr>
                </tbody>
              </table>
            </div>
            <!-- 대기 거래 그래표 내용 -->

            <!-- 차트 페이지 넘기기 -->
            <ul class="pager">
              <li class="previous"><a href="#">&larr; 최근 내역</a></li>
              <li class="next"><a href="#">이전 내역 &rarr;</a></li>
            </ul>
            <!-- 차트 페이지 넘기기 -->

          </div>
        </div>
        <!-- 패널 내용 -->

      </div>
      <!-- 본문 섹션 -->
      <!-- 오른쪽 랭킹 섹션 -->
      <div class="col-lg-2">

        <!-- 거래 랭킹 -->
        <h4 class="text-center text-success"><strong>거래 랭킹</strong></h3>
        <div class="table-responsive">
          <table class="table table-striped table-hover table-condensed text-center">
            <thead>
              <tr><td>순위</td><td>이름</td><td>전일 대비</td></tr>
            </thead>
            <tbody>
              <tr><td>1</td><td>오미선</td><td><i class="fa fa-arrow-up text-danger"></i></td></tr>
              <tr><td>2</td><td>강수명</td><td><i class="fa fa-arrow-down text-info"></i></td></tr>
              <tr><td>3</td><td>이미영</td><td><span class="text-warning">━</span></td></tr>
              <tr><td>4</td><td>김석준</td><td><i class="fa fa-arrow-down text-info"></i></td></tr>
              <tr><td>5</td><td>이건임</td><td><i class="fa fa-arrow-up text-danger"></i></td></tr>
            </tbody>
          </table>
        </div>
        <!-- 거래 랭킹 -->

        <!-- 노냥 랭킹 -->
        <h4 class="text-center text-success"><strong>노냥 랭킹</strong></h3>
        <div class="table-responsive">
          <table class="table table-striped table-hover table-condensed text-center">
            <thead>
              <tr><td>순위</td><td>이름</td><td>전일 대비</td></tr>
            </thead>
            <tbody>
              <tr><td>1</td><td>김성수</td><td><i class="fa fa-arrow-up text-danger"></i></td></tr>
              <tr><td>2</td><td>배수현</td><td><i class="fa fa-arrow-up text-danger"></i></td></tr>
              <tr><td>3</td><td>이준상</td><td><span class="text-warning">━</span></td></tr>
              <tr><td>4</td><td>강수명</td><td><span class="text-warning">━</span></td></tr>
              <tr><td>5</td><td>이건임</td><td><i class="fa fa-arrow-down text-info"></i></td></tr>
            </tbody>
          </table>
        </div>
        <!-- 노냥 랭킹 -->

      </div>
      <!-- 오른쪽 랭킹 섹션 -->
    </div>
  </div>
</section>
{% endblock %}