{% extends 'layout.html' %}

{% block title %} {{ title }} {% endblock %}

{% block head %}
  {% parent %}

  <style>
    .loginImage {
      padding: 0px 40px 0px 40px;
    };
  </style>

  <script>

  $(document).ready(function() {
    // AJAX LOAD
    $('#loginWindow').load('/form/login', function (data) {
    });

    {% if login %}
    $('#signupRequestList').load('/users/pending', function (data) {
    });
    {% endif %}

    $('#transactionList').load('/transaction/list', function (data) {
    });

    $('#tradeRank').load('/ranking/tradeRank', function (data) {
    });

    $('#nonyangRank').load('/ranking/nonyangRank', function (data) {
    });
  });

  </script>

{% endblock %}

{% block content %}
<section>
  <div class="container">

    <!-- TITLE -->
    <div class="row">
      <div class="col-xs-12">
        <div class="page-header">
          <h1 class="text-center"> 노냥 <small>로컬화폐</small></h1>
        </div>
      </div>
    </div>
    <!-- TITLE -->

    <div class="row">

      <!-- LOGIN AND USER PROFILE -->
      <div class="col-lg-3" id="loginWindow">
      </div>
      <!-- LOGIN AND USER PROFILE -->

      <!-- INDEX BODY -->
      <div class="col-lg-7" id="indexBody">

        <!-- MAIN BANNER -->
        <img src="./img/titleBanner.jpg" alt="titleBanner" class="img-rounded img-responsive titleBanner">
        <!-- MAIN BANNER -->

        {% if login %}
        <!-- MODAL TOGGLE BUTTON -->
        <hr>
        <button class="btn btn-default btn-block" data-toggle="modal" data-target="#addCurencyModal"><i class="fa fa-mail-forward"></i> &nbsp;&nbsp;노냥 보내기</button>
        <!-- MODAL TOGGLE BUTTON -->
        {% endif %}

        <!-- PENDING SIGN-UP REQUEST LIST -->
        <div id="signupRequestList">
        </div>
        <!-- PENDING SIGN-UP REQUEST LIST -->

        <!-- TRANSACTION LIST -->
        <div id="transactionList">
        </div>
        <!-- TRANSACTION LIST -->

      </div>
      <!-- INDEX BODY -->

      <!-- RANKING AT RIGHT -->
      <div class="col-lg-2">

        <div class="row">
          <!-- NUMBER OF TRADE RAKNING -->
          <div class="col-lg-12 col-sm-6" id="tradeRank">
          </div>
          <!-- NUMBER OF TRADE RAKNING -->

          <!-- AMOUNT OF POINT RANKING -->
          <div class="col-lg-12 col-sm-6" id="nonyangRank">
          </div>
          <!-- AMOUNT OF POINT RANKING -->
        </div>

      </div>
      <!-- RANKING AT RIGHT -->
     <div class="col-xs-12">
       <footer>

       </footer>
     </div>

    </div>
  </div>
</section>

{% if login %}
{% include "./transaction/create.html" %}
{% endif %}

{% endblock %}