<script type="text/javascript">
  $(document).ready(function () {
    $('#amountPoint').text(0);

    // click to copy 활성화
    ZeroClipboard.setDefaults( { moviePath: './swf/ZeroClipboard.swf' } );
    var clip = new ZeroClipboard($("#copyUserId"));
    clip.on('dataRequested', function (client, args) {
      $('.nonyangModal').modal();
    });

    // logout
    $('.logout').on('click', function () {
      $.ajax({
        url: '/logout',
        type: 'GET'
      }).done(function (data) {
        window.location = '/';
      });
    });

    $.ajax({
      url: '/transaction/count',
      type: 'GET'
    }).done(function (data) {
      $('#amountPoint').text(data.wallet);
    });
  })
</script>

<div class="row">

  <div class="col-lg-12 col-md-5 col-sm-6">
    <div class="well">
      <!-- 유저 프로필 -->
      <img src="./img/default.jpg" class="img-circle img-responsive loginImage" alt="Responsive image">
      <!-- 유저 프로필 -->

      <!-- 유저 이름 -->
        <p><h3 class="text-center text-success"> {{ user.name }} </h2></p>
      <!-- 유저 이름 -->

      <div class="visible-lg visible-xs">

        <!-- 정보 수정 토글 -->
        <a href="/editForm" class="btn btn-block btn-success"><i class="fa fa-cogs"></i> &nbsp;&nbsp; 정보 수정</a>
        <!-- 정보 수정 토글 -->

        <!-- 로그아웃 버튼 -->
        <button class="btn btn-block btn-default logout" data-loading-text="loading.."><i class="fa fa-sign-out"></i> &nbsp;&nbsp; 로그아웃</button>
        <!-- 로그아웃 버튼 -->
      </div>
    </div>
  </div>

  <div class="col-lg-12 col-md-7 col-sm-6">

    <!-- 사용자 화면 -->
    <div class="well visible-sm visible-md">

      <!-- 정보 수정 토글 -->
      <p><button class="btn btn-block btn-success" data-toggle="modal" data-target="#configModal"><i class="fa fa-cogs"></i> &nbsp;&nbsp; 정보 수정</button></p>
      <!-- 정보 수정 토글 -->

      <!-- 로그아웃 버튼 -->
      <button class="btn btn-block btn-default logout"><i class="fa fa-sign-out"></i> &nbsp;&nbsp; 로그아웃</button>
      <!-- 로그아웃 버튼 -->
    </div>
    <!-- 사용자 화면 -->

    <!-- 유저 고유번호 복사 -->
<!--     <p><button class="btn btn-warning btn-block" id="copyUserId" data-clipboard-text="{{ user.id }}"><i class="fa fa-fw fa-credit-card"></i> &nbsp;&nbsp; 고유 번호 복사하기 </button></p> -->
    <!-- 유저 고유번호 복사 -->

    <!-- 유저 고유 번호 복사 모달 -->
<!--     <div class="modal fade nonyangModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header alert alert-success">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">고유 번호 복사</h4>
          </div>
          <div class="modal-body text-center h4">
            <p>고유 번호가 잘 복사되었습니다</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
          </div>
        </div>
      </div>
    </div> -->
    <!-- 유저 고유 번호 복사 모달 -->

    <!-- 보유 노냥 내역 -->
    <div class="panel panel-primary text-center">
      <div class="panel-heading">
        <h3 class="panel-title">보유 노냥</h3>
      </div>
      <div class="input-group">
      <div class="panel-body">
        <strong class="h3" id="amountPoint"></strong>
      </div>
        <span class="input-group-addon text-primary">냥</span>
      </div>
    </div>
    <!-- 보유 노냥 내역 -->
    <hr>
  </div>
</div>


{% include "./userEditModal.html" %}
