#vannslogos {
  width: 200px;
  height: 122px;
}
#vannsmain {
  padding-top: 20px;
}
#vannscontext {
  padding-top: 30px;
  padding-bottom: 30px;
}
#vannsbutton {
  padding-bottom: 30px;
}
#vannsfooter {
  padding-top: 100px;
}
#vannslist {
  padding-top: 40px;
}