<script type="text/javascript">
  $(document).ready(function () {
    $('#personalPrev').on('click', function (data) {
      if ( personalSkip <= 0 ) {
        alert('첫페이지입니다');
        return;
      }

      personalSkip--;
      $('#personal').load('/transaction/personal?skip='+personalSkip+'', function (data) {
      });
    });

    $('#personalNext').on('click', function (data) {
      personalSkip++;
      $('#personal').load('/transaction/personal?skip='+personalSkip+'', function (data) {
      });
    });

    // 모달 닫기
    // $('.modalDismiss').on('click', function () {
    //   $('.pagerWarning').modal('hide');
    // });
    // 모달 닫기
  });
</script>
<style type="text/css">
  .transactionDesc {
    white-space:nowrap;
    max-width: 200px;
    overflow: hidden;
    text-overflow:ellipsis;
  };
</style>

<!-- 개인 거래그래표 내용 -->
<div class="table-responsive">
  <table class="table table-striped table-hover table-condensed text-center">
    <thead>
      <tr class="success">
        <td>날짜</td>
        <td>냥 주는 이</td>
        <td>냥 받는 이</td>
        <td>카테고리</td>
        <td>내용</td>
        <td>거래한 노냥</td>
      </tr>
    </thead>
    <tbody>
      {% if personalTransactions.length > 0 %}

      {% for transaction in personalTransactions %}
      <tr>
        <td>{{ transaction.created_at|date('Y-m-d', '-540') }}</td>
        <td>{{ transaction.sender.name }}</td>
        <td>{{ transaction.receiver.name }}</td>
        <td>{{ transaction.category.name }}</td>
        <td class="transactionDesc">{{ transaction.description }}</td>
        <td class="text-right">{{ transaction.amountPoint }} <em>냥</em>{% if !transaction.approved %}&nbsp;&nbsp;<button class="btn btn-xs btn-warning">대기</button>{% endif %}</td>
      </tr>
      {% endfor %}

      {% else %}
      <tr>
        <td colspan="6">더이상 거래 내역이 없습니다.</td>
      </tr>
      {% endif %}
    </tbody>
  </table>
</div>
<!-- 개인 거래그래표 내용 -->

<!-- 차트 페이지 넘기기 -->
<ul class="pager">
  <li class="previous" id="personalPrev"><a href="#"><i class="fa fa-long-arrow-left"></i> 처음으로</a></li>
  <li class="next" id="personalNext"><a href="#">다음으로 <i class="fa fa-long-arrow-right"></i></a></li>
</ul>
<!-- 차트 페이지 넘기기 -->

<!-- 페이지 넘김 모달 -->
<!-- <div class="modal fade pagerWarning">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body pagerWarningContext text-center">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default modalDismiss">닫기</button>
      </div>
    </div>
  </div>
</div> -->
<!-- 페이지 넘김 모달 -->